# Discord
DISCORD_APP_ID=1522364504007118918
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_USER_ID=515779514807353355

# Mahjong Soul (amae-koromo)
MAJSOUL_PLAYER_ID=103695496
MAJSOUL_BASE_URL=https://5-data.amae-koromo.com/api/v2
MAJSOUL_MODE_4MA=16.12.9.15.11.8
MAJSOUL_MODE_3MA=26.24.22.25.23.21

# GitHub
GITHUB_TOKEN=ghp_your_personal_access_token
GITHUB_USER=wogikaze

# TickTick
TICKTICK_COOKIE=YOUR_TICKTICK_COOKIE

# AtCoder
ATCODER_USER=wogikaze

# Widget
WIDGET_STAT_ICON=https://i.gyazo.com/7fe75df2979682c5d38cdbe17a737817.png
WIDGET_ICON_BASE=https://raw.githubusercontent.com/wogikaze/wgkz-game-profile/main/public/icons
WIDGET_AA=360000
WIDGET_CRON=0 */30 * * * *
